<div id="footer" class="shadow" style="height: 70px; position: relative;top:65px; width: 1062px; left: -1px;">
  <p>

    <a href="/resume/index?user=1">&copy;  Created by Guiwei LIN (waynewgl@gmail.com) 2013 </a>
  </p>
</div>