


<div id="content"  style="position: relative;top: -137px;">

  <%= render :partial => 'partials/admin/side_bar_menu' -%>


  <div class="article_Page_info_title">
    <h4><%=@user_sign_name %> 's Projects </h4>
  </div>

<%= render :partial => 'partials/admin/myProjectArticles' -%>


 </div>



